src/VAERS/
src/intensivstationen/zeitreihe-tagesdaten.csv
src/intensivstationen/geckodriver.log
src/intensivstationen/Intensivstationen.nbconvert.html
.ipynb_checkpoints/
.history/
src/tmp/
src/results/
docs/data/*.xlsx
docs/data/*.html
.env
src/captchaImage.jpeg
src/HowBadIsMyBatch.nbconvert.html
src/__pycache__/
src/intensivstationen/__pycache__/
google-chrome-stable_current_amd64*