src/VAERS/
.ipynb_checkpoints/
.history/
src/tmp/
src/results/
docs/data/*.xlsx
docs/data/*.html
.env
src/captchaImage.jpeg
src/HowBadIsMyBatch.nbconvert.html
src/__pycache__/
google-chrome-stable_current_amd64*
src/captcha/__pycache__
src/GoogleAnalytics/__pycache__
src/SymptomsCausedByVaccines/__pycache__
src/HowBadIsMyBatch.py
src/data/prrByDrugAndSymptom-EudraVigilance.csv
