.dataTables_filter {
    display: none;
}

.chartWithSlider {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.chartWithSlider .chartContainer {
    flex: 95%;
}

.chartWithSlider .sliderContainer {
    flex: 5%;
}